
.treeContainer {
    padding: 0;
    margin: 0;
}
.treeContainer li {
    list-style-type: none;
}

/* indent for all tree children excepts root */
.Node {
    margin-left: 18px;
    zoom: 1;
    /* линия слева образуется повторяющимся фоновым рисунком */
    background-image: url("/image/i.gif");
    /*background-position: top left;*/
    background-repeat: repeat-y;

}
.LastNode {
    margin-left: 18px;
    zoom: 1;
    /* линия слева образуется повторяющимся фоновым рисунком */
    background-image: url("/image/i_half.gif");
    background-position: top left;
    background-repeat: repeat-y;

}
/*
.Node:first-line{
    background-image: url("/image/l.gif");
}
.Node:last-of-type{
    background-image: url("/image/i_half.gif");
}
*/

.IsLast{
    background: url("/image/i_half.gif") no-repeat;
    /*background: url("/image/document.gif") no-repeat;*/
}
.isLastChild{
    background: url("/image/document.gif") no-repeat;
}

.IsRoot {
    margin-left: 0;
}

.ExpandOpen .Expand {
    background-image: url(/image/minus.gif);
}

/* closed is higher priority than open */
.ExpandClosed .Expand {
    background-image: url(/image/plus.gif);
}

/* highest priority */
.ExpandLeaf .Expand {
    background-image: url(/image/expand_leaf.gif);
}

.treeContent {
    min-height: 18px;
    margin-left: 18px;
}

* html .treeContent {
    height: 18px;
}

/*.ExpandLoading {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(/image/expand_loading.gif);
}*/

.Expand {
    width: 18px;
    height: 18px;
    float: left;
}

.ExpandOpen .treeContainer {
    display: block;
}

.ExpandClosed .treeContainer {
    display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
    cursor: pointer;
}

.ExpandLeaf .Expand {
    cursor: auto;
}

header {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 5px;
    height: 50px;
}

.container {
    margin-top: -5px;
    width: 100%;
    overflow: hidden;
}

.menu {
    margin-left: -50px;
    float: left;
}
.content {
    padding-left: 15px;
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
    vertical-align: top;
    padding-bottom: 25px;
    width: 70%;
    min-height: 715px;
}
textarea{
    width: 95%;
    overflow: visible;
}

